.section-advantage {
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.advantage {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.advantage__item {
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
      width: 100%;
    }
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);
  }
}

// flex-basis: calc((100% - 30px) / 4);

.advantage__icon {
  display: flex;
  background-color: $color-button-item-bgd;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.advantage__subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.advantage__descr {
  color: $color-text-descr;
  font-size: 14px;
  line-height: 1.71;
}
