.section-advantage {
  padding: 94px 0;
}

.advantage {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.advantage__item {
  flex-basis: calc((100% - 30px) / 4);
}

.advantage__icon {
  display: flex;
  background-color: $color-button-item-bgd;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.advantage__subtitle {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantage__descr {
  color: $color-text-descr;
  font-size: 14px;
  line-height: 1.71;
}
