.footer {
  padding: 60px 0px;
  background-color: $color-background;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  color: $color-element;
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

// Address
.logo-address {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
}

.address {
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    width: 231px;
    text-align: left;
  }
}

.address-item:not(:first-child) {
  margin-top: 8px;
}

.address__map {
  color: $color-element;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $color-accent;
  }
}

.address__contacts {
  display: inline-block;
  color: $color-contact-footer;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $color-accent;
  }
}

.container--flex {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

// Social list footer
.thumb-social {
  display: flex;
  flex-direction: column;
  width: 206px;
  height: 80px;

  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}

.container-adr-social {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 60px;
    justify-content: space-around;
  }
}

.footer__title {
  margin-bottom: 20px;
  color: $color-element;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.social-footer {
  display: flex;
  justify-content: space-between;
}

.social-footer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;

  border-radius: 50%;
  color: $color-element;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $color-accent;
  }
}

.social-footer__icon {
  fill: currentColor;
}

// Form-footer
.form-footer {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.thumb-form {
  text-align: center;
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.form-footer__button {
  display: flex;
  align-items: center;
  padding: 10px 28px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  color: $color-element;
  background-color: $color-accent;
  @extend%pointer;
}

.form-footer__icon {
  margin-left: 10px;
}

.form-footer__input {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 16px;
  color: $color-element;
  background-color: $color-background;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  @media screen and (min-width: 768px) {
    display: block;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}
