.form {
  position: absolute;
  width: 448px;
}

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form__field--last {
  margin-bottom: 20px;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;

  .form__field:focus-within & {
    fill: $color-accent;
  }
}

.form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: $color-text-descr;
}

.form__input {
  padding: 0;
  padding-left: 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  .form__field:focus-within & {
    border: 1px solid $color-accent;
    outline: none;
    @extend %pointer;
  }
}

.form__textarea {
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;

  &::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
  }

  .form__field:focus-within & {
    border: 1px solid $color-accent;
    outline: none;
    @extend %pointer;
  }
}

.form__policy {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $color-text-descr;
}

.form__checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.form__check-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  margin-left: 10px;
  border: 1px solid $color-text-primary;
  border-radius: 2px;

  .form__checkbox:checked + & {
    background-color: $color-accent;
    border-color: $color-accent;
    background-image: url(../images/icon\ check.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: border-box;
  }
}

.form__checkbox-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $color-accent;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.form__button {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $color-element;
  background-color: $color-accent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  @extend %pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $color-button-active;
  }
}
