// .hero {
//   padding-top: 118px;
//   padding-bottom: 118px;
//   text-align: center;

//   @media screen and (min-width: 1200px) {
//     padding-top: 200px;
//     padding-bottom: 200px;
//   }
// }

.hero {
  margin-left: auto;
  margin-right: auto;

  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  max-width: 1600px;

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-mobile@1x.jpg);
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero--overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-mobile@2x.jpg);
  }
}

@media (min-width: 768px) {
  .hero--overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-tablet@1x.jpg);
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero--overlay {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-tablet@2x.jpg);
    }
  }
}

@media (min-width: 1200px) {
  .hero--overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-desck@1x.jpg);
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero--overlay {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-desck@2x.jpg);
    }
  }
}

.hero__title {
  color: $color-element;
  margin-top: 0;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    width: 360px;
  }

  @media screen and (min-width: 1200px) {
    color: $color-element;
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}

.hero__button {
  padding: 10px 24px;

  background-color: $color-accent;
  color: $color-element;
  border: none;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  letter-spacing: 0.06em;
  border-radius: 4px;

  @extend%pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $color-button-active;
  }

  @media screen and (min-width: 1200px) {
    padding: 10px 32px;
  }
}
