.page-header {
  position: relative;
  border-bottom: 1px solid $color-line;

  @media screen and (max-width: 767px) {
    min-height: 60px;
  }
}

.container--nav {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
}

// Логотип та навигация
.nav-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  &__item--current {
    position: relative;
  }

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 86px;

    &__item:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: $color-text-primary;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $color-accent;
  }

  &--current {
    color: $color-accent;
  }

  // @media screen and (max-width: 767px) {
  //   font-size: 40px;
  //   line-height: 1.17;
  //   padding: 0;
  // }
}

.nav__link--current::after {
  @media screen and (min-width: 768px) {
    position: absolute;
    content: '';
    left: 0;
    bottom: -1px;
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: $color-accent;
    border-radius: 4px;
  }
}

// Cotacts
.contacts {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    margin-left: 96px;
    row-gap: 10px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-top: 0;
    margin-left: 315px;
  }
}

.contacts__item:nth-child(odd) {
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;

  color: $color-text-descr;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $color-accent;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  background-color: transparent;
  border: none;

  @media (min-width: 768px) {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px;
  background-color: $color-element;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
  overflow: scroll;
}

.menu-container__menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  &:hover,
  &:focus {
    fill: $color-accent;
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &--small {
      width: 14px;
      height: 10px;
    }
    &--little {
      width: 10px;
      height: 14px;
    }
  }
}

.mob-social {
  display: flex;

  // gap: 10px;

  &__item:not(:last-child) {
    margin-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }

  &__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: $color-accent;
    padding-right: 10px;

    @media screen and (max-width: 390px) {
      font-size: 12px;
    }
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mob-nav {
  margin-bottom: 264px;

  &__item:not(:last-child) {
    margin-bottom: 32px;
  }

  &__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $color-text-primary;
  }

  &__link--current {
    color: $color-accent;
  }
}

.mob-contacts {
  margin-bottom: 64px;

  &__item:first-child {
    margin-bottom: 32px;
  }
}

.mob-contacts__link {
  font-weight: 500;
  line-height: 1.17;
  font-size: 22px;
  letter-spacing: 0.02em;
  color: $color-text-descr;

  &--current {
    font-size: 34px;
    color: $color-accent;
    @media screen and (max-width: 420px) {
      font-size: 22px;
    }
  }
}
