$color-text-primary: #212121;
$color-text-descr: #757575;
$color-accent: #2196f3;
$color-element: #ffffff;
$color-background: #2f303a;
$color-contact-footer: rgba(255, 255, 255, 0.6);
$color-button-item-bgd: #f5f4fa;
$color-logo: #000000;
$color-button-active: #188ce8;
$color-line: #ececec;
$color-border: #eeeeee;
$color-border-svg: #afb1b8;
